<section id="editPage">
    <form id='editForm' *ngIf="product" #editForm="ngForm" (ngSubmit)="onEditHandler(editForm)">
        <div>
            <label for="name">Name</label>
            <input ngModel #name="ngModel" name="name" [(ngModel)]="product.name" id="name" autofocus placeholder="Name"
                required />
            <!-- pattern="^[a-zA-Z]+$"-->

            <ng-container *ngIf="name.invalid && name.touched">
                <div *ngIf="name.errors?.['required']">Name is required.
                </div>
                <!-- <div  *ngIf="name.errors?.['pattern']">Name must be in format.</div> -->
            </ng-container>
        </div>

        <div>
            <label for="brand">Brand</label>
            <input ngModel #brand="ngModel" [(ngModel)]="product.brand" type="text" name="brand" id="brand"
                placeholder="Sony, Apple, Xiaomi" required />

            <ng-container *ngIf="brand.invalid && brand.touched">
                <div *ngIf="brand.errors?.['required']">Brand is required. </div>
            </ng-container>
        </div>

        <div>
            <label for="image">Image</label>
            <input ngModel #image="ngModel" type="text" [(ngModel)]="product.image" name="image" id="image"
                placeholder="Enter Image URL" required>

            <ng-container *ngIf="image.invalid && image.touched">
                <div *ngIf="image.errors?.['required']">Image is required.</div>
            </ng-container>
        </div>

        <div>
            <label for="price">Price</label>
            <input ngModel #price="ngModel" type="text" name="price" [(ngModel)]="product.price" id="price" class=" "
                placeholder="Price" required />

            <ng-container *ngIf="price.invalid && price.touched">
                <div *ngIf="price.errors?.['required']">Price is required.</div>
            </ng-container>
        </div>

        <div>
            <label for="description">Description</label>
            <input ngModel #description="ngModel" type="text" [(ngModel)]="product.description" name="description"
                id="description" class=" " placeholder="Description" required />

            <ng-container *ngIf="description.invalid && description.touched">
                <div *ngIf="description.errors?.['required']">Price is required.</div>
            </ng-container>
        </div>

        <button [disabled]="editForm.invalid" type="submit" class="edit">Edit</button>

        <div style="color: red;" *ngIf="errorMessage">{{ errorMessage }} </div>

    </form>
</section>