<nav>
    <ul>
        <!-- ALL USERS -->
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Catalog</a></li>

        <!-- LOGGED IN USERS -->
        <ng-container *ngIf="isLogged">
            <li><a routerLink="/add-product">Create Product</a></li>
            <li><a routerLink="/auth/profile"> Welcome: {{ userEmail }}</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ng-container>

        <!--GUEST USER-->
        <ng-container *ngIf="!isLogged">
            <li><a routerLink="/auth/login">Login</a></li>
            <li><a routerLink="/auth/register">Register</a></li>
        </ng-container>
    </ul>

</nav>