.detailsPage {
    text-align: center;
    margin-top: 5px;
    position: relative;
    padding-bottom: 6px;
  }
  
  #detailsInfo {
   display: inline-block;
    /*  margin-top: 1%;
    background: rgba(0, 0, 0, 0.703);
    width: 60%;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 5%; */

    cursor: pointer;
    width: 32%;
    border: 2px solid white;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* min-height: 450px; */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
  }
  
  #detailsInfo h1 {
    color: black;
    letter-spacing: 2px;
  }
  
  #detailsInfo h2 {
    color: black;
      font-size: 26px;
      margin-top: 30px;
  }
  
  #detailsInfo h3 {
    color: black;
      font-size: 20px;
      width: 70%;
      display: inline-block;
      margin-bottom: 0px;
  }
  
  .info {
    color: black;
    letter-spacing: 1px;
    display: inline-block;
  }
  
  .info img {
    width: 60%;
    height: inherit;
    border-radius: 10px;
  }
  
  .buttons {
    margin-top: 2%;
    margin-bottom: 4%;
    font-weight: bold;
  }
  
  .buttons p {
    display: inline-block;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    width: 40%;
    padding: 10px;
  }
  
  .buttons span {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
  }
  
  .buttons a {
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1%;
    text-decoration: none;
  }
  
  section {
    text-align: center;
    margin-top: 5px;
    position: relative;
    padding-bottom: 6px;
}