.registerPage {
  text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 6px;
}

#registerForm {
  padding-top: 1%;
  display: inline-block;
  margin-top: 5%;
  background: #aaa9a9;
  width: 30%;
  border: 1px solid white;
  border-radius: 20px;
}

#registerForm label {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;

}

#registerForm input {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}

#registerForm input[type="submit"] {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  font-size: 20px;
}

input {
  display: block;
  margin: 10px auto;
  width: 80%;
  border: 2px solid lightsteelblue;
  padding: 12px;
}

section {
  text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 6px;
}

button {
  padding: 10px 30px;
  border-radius: 10px;
}

button:disabled {
padding: 10px 30px;
border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 37px;
  /* margin-bottom: 20px; */
}