<section id="viewCatalog" class="background-img">
    <ng-container *ngIf="products">
        <h1 style="text-align: center;">Your list with products</h1>
    </ng-container>

    <div *ngIf="errorMessage" style="color: red;"> {{ errorMessage }} </div>

    <div class="added-item">
        <ng-container *ngIf="products">
            <ng-container *ngIf="products.length > 0; else noProducts">
                <ng-container *ngFor="let product of products">
                    <app-product [product]="product"></app-product>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <ng-template #noProducts>
        <h1 style="text-align: center;">
            You don't have ordered Products yet!.
        </h1>
    </ng-template>
</section>